!!!
%html
  %head
    %title PicHack3rMe
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .well
        .center
          %h1= link_to "picHack3r", root_path
          %small
            = link_to 'About', '/about'
            \|
            = link_to 'Gallery', pictures_path
        - if notice
          %div{:class=>"alert alert-success"}= notice
        = yield
